/ {
keymap {
compatible = "zmk,keymap";
default_layer {
bindings = <
&kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL &kp BSPC
&kp TAB &kp CYR_YO &kp CYR_TS &kp CYR_U &kp CYR_K &kp CYR_E &kp CYR_N &kp CYR_G &kp CYR_SH &kp CYR_SC &kp CYR_Z &kp CYR_H &kp CYR_HARD &kp ENTER
&kp CAPS &kp CYR_F &kp CYR_Y &kp CYR_V &kp CYR_A &kp CYR_P &kp CYR_R &kp CYR_O &kp CYR_L &kp CYR_D &kp CYR_ZH &kp CYR_EE &kp SQT
&kp LSHIFT &kp CYR_YA &kp CYR_CH &kp CYR_S &kp CYR_M &kp CYR_I &kp CYR_T &kp CYR_SOFT &kp CYR_B &kp CYR_YU &kp DOT &kp UP &kp RSHIFT
&kp LCTRL &kp LGUI &kp LALT &kp SPACE &kp RALT &kp LEFT &kp DOWN &kp RIGHT
>;
};
};
};
