if SHIELD_ViridiKeyboard

config ZMK_KEYBOARD_NAME
    string "Keyboard name"
    default "ViridiKeyboard"

# Правильный способ установки TX power
config BT_CTLR_TX_PWR
    int "Bluetooth TX power"
    default 8

# Полное отключение модуля физических раскладок
config ZMK_PHYSICAL_LAYOUTS
    bool
    default n
    select ZMK_PHYSICAL_LAYOUTS_DISABLED

# Исправление deprecated символа
config NRF_STORE_REBOOT_TYPE
    int "Reboot type storage"
    default 0

endif # SHIELD_ViridiKeyboard


