// # Подключение библиотек.
// # Используется стандартное поведение клавиш из репо ZMК
#include <behaviors.dtsi>
// # Для использования имен клавиш вместо сухого кода
#include <dt-bindings/zmk/keys.h>
// # Чтобы управлять внешними устройствами или функциями через питание на будущее для подсветки/экрана или модули через ножку питания МК
#include <dt-bindings/zmk/ext_power.h>
// # Для управления Bluetooth с помощью клавиш или макросов нпр. по кнопке перенключать провод/BT/радио
#include <dt-bindings/zmk/bt.h>
// # Чтобы использование имен подсветки вместо сухого кода.
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap0: keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp ESC &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp
                &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp
                &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp
                &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp
                &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp
                &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp &kp
            >;
        };
    };
};
