#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Ряд 0 (16 клавиш)
                &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp MINUS &kp EQUAL &kp LBKT &kp RBKT
                // Ряд 1 (16 клавиш) 
                &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp QUOTE &kp BSLS &trans &trans
                // Ряд 2 (16 клавиш)
                &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMM &kp DOT &kp SLSH &kp GRV &kp ESC &trans &trans
                // Ряд 3 (16 клавиш)
                &kp LGUI &kp LALT &kp LCTL &kp LSFT &kp LT(1, 0x2C) &kp TAB &kp BSPC &kp DEL &kp LEFT &kp DOWN &kp UP &kp RGHT &kp ENT &kp CAPS
                // Ряд 4 (16 клавиш)
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                // Ряд 5 (16 клавиш)
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        layer_1_numbers {
            bindings = <
                // Ряд 0 (16 клавиш)
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp F1 &kp F2 &kp F3 &kp F4 &trans
                // Ряд 1 (16 клавиш)
                &kp EXCLAM &kp AT &kp HASH &kp DOLLAR &kp PERCENT &kp CIRCUM &kp AMPR &kp ASTR &kp LBKT &kp RBKT &kp F5 &kp F6 &trans &trans &trans &trans
                // Ряд 2 (16 клавиш)
                &kp PLUS &kp MINUS &kp EQUAL &kp UNDERSCORE &kp PIPE &kp LBRC &kp RBRC &kp COMM &kp DOT &kp SLSH &kp F11 &kp F12 &trans &trans &trans &trans
                // Ряд 3 (16 клавиш)
                &trans &trans &trans &trans &kp MO(0) &kp HOME &kp END &kp PG_UP &kp PG_DOWN &kp VOL_DOWN &kp VOL_UP &kp MUTE &kp PSCR &kp PAUSE
                // Ряд 4 (16 клавиш)
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                // Ряд 5 (16 клавиш)
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
