/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Ряд 0: Esc, F1-F12 (15 клавиш)
                &kp 0x29 &trans &kp 0x3A &kp 0x3B &kp 0x3C &kp 0x3D &trans &kp 0x3E &kp 0x3F &kp 0x40 &kp 0x41 &trans &kp 0x42 &kp 0x43 &kp 0x44 &kp 0x45
                // Ряд 1: Ё/`, 1-0, -, =, Backspace (15 клавиш)
                &kp 0x35 &kp 0x1E &kp 0x1F &kp 0x20 &kp 0x21 &kp 0x22 &kp 0x23 &kp 0x24 &kp 0x25 &kp 0x26 &kp 0x27 &kp 0x2D &kp 0x2E &kp 0x2A
                // Ряд 2: Tab, Q-P, [, ], Enter (15 клавиш)
                &kp 0x2B &kp 0x14 &kp 0x1A &kp 0x08 &kp 0x15 &kp 0x17 &kp 0x1C &kp 0x18 &kp 0x0C &kp 0x12 &kp 0x13 &kp 0x2F &kp 0x30 &kp 0x28
                // Ряд 3: Caps, A-L, ;, ', # (15 клавиш)
                &kp 0x39 &kp 0x04 &kp 0x16 &kp 0x07 &kp 0x09 &kp 0x0A &kp 0x0B &kp 0x0D &kp 0x0E &kp 0x0F &kp 0x33 &kp 0x34 &kp 0x31
                // Ряд 4: Shift, Z-/, Shift (15 клавиш)
                &kp 0xE1 &kp 0x1D &kp 0x1B &kp 0x06 &kp 0x19 &kp 0x05 &kp 0x11 &kp 0x10 &kp 0x36 &kp 0x37 &kp 0x38 &kp 0xE5
                // Ряд 5: Ctrl, Win, Alt, Space, AltGr, Fn, Menu, Ctrl (16 клавиш)
                &kp 0xE0 &kp 0xE3 &kp 0xE2 &kp 0x2C &trans &trans &trans &trans &trans &trans &trans &kp 0x65 &kp 0x80 &kp 0x65 &kp 0xE0
                // Ряд 6: Пустой ряд (16 клавиш)
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        layer_1 {
            bindings = <
                // Ряд 0: Esc, F1-F12 (15 клавиш)
                &kp 0x29 &trans &kp 0x3A &kp 0x3B &kp 0x3C &kp 0x3D &trans &kp 0x3E &kp 0x3F &kp 0x40 &kp 0x41 &trans &kp 0x42 &kp 0x43 &kp 0x44 &kp 0x45
                // Ряд 1: Ё/`, 1-0, -, =, Backspace (15 клавиш)
                &kp 0x35 &kp 0x1E &kp 0x1F &kp 0x20 &kp 0x21 &kp 0x22 &kp 0x23 &kp 0x24 &kp 0x25 &kp 0x26 &kp 0x27 &kp 0x2D &kp 0x2E &kp 0x2A
                // Ряд 2: Tab, Q-P, [, ], Enter (15 клавиш)
                &kp 0x2B &kp 0x14 &kp 0x1A &kp 0x08 &kp 0x15 &kp 0x17 &kp 0x1C &kp 0x18 &kp 0x0C &kp 0x12 &kp 0x13 &kp 0x2F &kp 0x30 &kp 0x28
                // Ряд 3: Caps, A-L, ;, ', # (15 клавиш)
                &kp 0x39 &kp 0x04 &kp 0x16 &kp 0x07 &kp 0x09 &kp 0x0A &kp 0x0B &kp 0x0D &kp 0x0E &kp 0x0F &kp 0x33 &kp 0x34 &kp 0x31
                // Ряд 4: Shift, Z-/, Shift (15 клавиш)
                &kp 0xE1 &kp 0x1D &kp 0x1B &kp 0x06 &kp 0x19 &kp 0x05 &kp 0x11 &kp 0x10 &kp 0x36 &kp 0x37 &kp 0x38 &kp 0xE5
                // Ряд 5: Ctrl, Win, Alt, Space, AltGr, Fn, Menu, Ctrl (16 клавиш)
                &kp 0xE0 &kp 0xE3 &kp 0xE2 &kp 0x2C &trans &trans &trans &trans &trans &trans &trans &kp 0x65 &kp 0x80 &kp 0x65 &kp 0xE0
                // Ряд 6: Пустой ряд (16 клавиш)
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
