# ViridiKeyboard Kconfig.defconfig
CONFIG_ZMK=y
CONFIG_ZMK_KSCAN_GPIO_DRIVER=y
CONFIG_ZMK_KSCAN_DEBOUNCE_PERIOD=3
CONFIG_ZMK_KSCAN_COL2ROW=y

CONFIG_ZMK_KEYBOARD_NAME="viridikeyboard"
CONFIG_ZMK_SPLIT=n
CONFIG_ZMK_BLE=y

# Матрица 6x14
CONFIG_ZMK_KSCAN_ROWS=6
CONFIG_ZMK_KSCAN_COLS=14

# GPIO ряды
CONFIG_ZMK_KSCAN_ROW0_GPIO=4
CONFIG_ZMK_KSCAN_ROW0_FLAGS=GPIO_ACTIVE_LOW
CONFIG_ZMK_KSCAN_ROW1_GPIO=11
CONFIG_ZMK_KSCAN_ROW1_FLAGS=GPIO_ACTIVE_LOW
CONFIG_ZMK_KSCAN_ROW2_GPIO=0
CONFIG_ZMK_KSCAN_ROW2_FLAGS=GPIO_ACTIVE_LOW
CONFIG_ZMK_KSCAN_ROW3_GPIO=24
CONFIG_ZMK_KSCAN_ROW3_FLAGS=GPIO_ACTIVE_LOW
CONFIG_ZMK_KSCAN_ROW4_GPIO=22
CONFIG_ZMK_KSCAN_ROW4_FLAGS=GPIO_ACTIVE_LOW
CONFIG_ZMK_KSCAN_ROW5_GPIO=20
CONFIG_ZMK_KSCAN_ROW5_FLAGS=GPIO_ACTIVE_LOW

# Shift register
CONFIG_ZMK_KSCAN_SR_DATA_GPIO=2
CONFIG_ZMK_KSCAN_SR_CLOCK_GPIO=6
CONFIG_ZMK_KSCAN_SR_LATCH_GPIO=8
CONFIG_ZMK_KSCAN_SR_COUNT=2

# Дополнительно (пока пусто)
# CONFIG_ZMK_RGB=y
# CONFIG_ZMK_ENCODER=y
